.Button {
  display: block;
  width: 150px;
  background-color: rgb(255, 236, 131);
  font-size: 18px;
  color: rgb(189, 123, 0);
  border: 3px solid orange;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 2px 2px gray;
}

.Button:hover {
  background-color: rgb(255, 247, 199);
}

@media (min-width: 700px) {
  .Button {
    font-size: 20px;
    width: 200px;
    padding: 10px;
  }
}