.RoutesContainer {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  align-items: center;
}

@media (min-width: 700px) {
  .RoutesContainer {
    flex-direction: row;
    justify-content: center;
  }
}